In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('1900_2021_DISASTERS.xlsx - emdat data.csv')
df2 = pd.read_csv('1970-2021_DISASTERS.xlsx - emdat data.csv')

In [3]:
df.describe()

,Year,Seq,Aid Contribution,Dis Mag Value,Start Year,Start Month,Start Day,End Year,End Month,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Insured Damages ('000 US$),Total Damages ('000 US$),CPI
count,16126.000000,16126.000000,6.770000e+02,4.946000e+03,16126.00000,15739.000000,12498.000000,16126.000000,15418.000000,12570.000000,1.141300e+04,3.895000e+03,9.220000e+03,2.430000e+03,1.161700e+04,1.096000e+03,5.245000e+03,15811.000000
mean,1996.764790,714.784820,1.254136e+05,4.735038e+04,1996.77837,6.444374,15.233957,1996.835607,6.576728,15.775020,2.842866e+03,2.621102e+03,8.823612e+05,7.329314e+04,7.165088e+05,7.986514e+05,7.247835e+05,63.215103
std,20.159065,1929.635089,2.997875e+06,3.094242e+05,20.15571,3.393965,8.953821,20.143010,3.352965,8.865486,6.860595e+04,3.440343e+04,8.573913e+06,5.230058e+05,7.718598e+06,3.057638e+06,4.723131e+06,26.734285
min,1900.000000,1.000000,1.000000e+00,-5.700000e+01,1900.00000,1.000000,1.000000,1900.000000,1.000000,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,1.000000e+00,3.400000e+01,2.000000e+00,3.221647
25%,1989.000000,93.000000,1.750000e+02,7.000000e+00,1989.00000,4.000000,7.000000,1989.000000,4.000000,8.000000,6.000000e+00,1.400000e+01,1.244750e+03,5.725000e+02,6.500000e+02,5.000000e+04,8.300000e+03,45.692897
50%,2001.000000,270.000000,7.210000e+02,1.515000e+02,2001.00000,7.000000,15.000000,2001.000000,7.000000,16.000000,2.000000e+01,5.000000e+01,1.000000e+04,3.000000e+03,5.965000e+03,1.725000e+05,6.000000e+04,68.415379
75%,2011.000000,486.000000,3.511000e+03,1.129650e+04,2011.00000,9.000000,23.000000,2011.000000,9.000000,23.000000,6.300000e+01,2.000000e+02,9.182300e+04,1.750000e+04,5.825500e+04,5.000000e+05,3.173000e+05,84.252733
max,2021.000000,9881.000000,7.800000e+07,1.302587e+07,2021.00000,12.000000,31.000000,2021.000000,12.000000,31.000000,3.700000e+06,1.800000e+06,3.300000e+08,1.585000e+07,3.300000e+08,6.000000e+07,2.100000e+08,100.000000

In [25]:
df["Total Damages ('000 US$)"].value_counts()

Total Damages ('000 US$)
100000.0    177
10000.0     141
1000.0      135
2000.0      134
5000.0      109
           ...
206000.0      1
394.0         1
142.0         1
17800.0       1
215000.0      1
Name: count, Length: 1565, dtype: int64

In [4]:
df2.isnull().sum()

Dis No                                 0
Year                                   0
Seq                                    0
Glide                              13063
Disaster Group                         0
Disaster Subgroup                      0
Disaster Type                          0
Disaster Subtype                    2747
Disaster Subsubtype                13600
Event Name                         10999
Country                                0
ISO                                    0
Region                                 0
Continent                              0
Location                            1346
Origin                             10864
Associated Dis                     11412
Associated Dis2                    13946
OFDA Response                      13194
Appeal                             12204
Declaration                        11517
Aid Contribution                   13967
Dis Mag Value                      10075
Dis Mag Scale                       1073
Latitude                           12313
Longitude                          12309
Local Time                         13879
River Basin                        13359
Start Year                             0
Start Month                          268
Start Day                           3067
End Year                               0
End Month                            549
End Day                             2994
Total Deaths                        4445
No Injured                         10993
No Affected                         5798
No Homeless                        12395
Total Affected                      3603
Reconstruction Costs ('000 US$)    14613
Insured Damages ('000 US$)         13550
Total Damages ('000 US$)            9781
CPI                                  315
Adm Level                           6789
Admin1 Code                        10063
Admin2 Code                        10679
Geo Locations                       6789
dtype: int64

In [22]:
df['Disaster Subgroup'].value_counts()

Disaster Subgroup
Hydrological         6327
Meteorological       5100
Geophysical          1857
Biological           1598
Climatological       1243
Extra-terrestrial       1
Name: count, dtype: int64

In [20]:
df2.isnull().sum()

Dis No                                 0
Year                                   0
Seq                                    0
Glide                              13063
Disaster Group                         0
Disaster Subgroup                      0
Disaster Type                          0
Disaster Subtype                    2747
Disaster Subsubtype                13600
Event Name                         10999
Country                                0
ISO                                    0
Region                                 0
Continent                              0
Location                            1346
Origin                             10864
Associated Dis                     11412
Associated Dis2                    13946
OFDA Response                      13194
Appeal                             12204
Declaration                        11517
Aid Contribution                   13967
Dis Mag Value                      10075
Dis Mag Scale                       1073
Latitude                           12313
Longitude                          12309
Local Time                         13879
River Basin                        13359
Start Year                             0
Start Month                          268
Start Day                           3067
End Year                               0
End Month                            549
End Day                             2994
Total Deaths                        4445
No Injured                         10993
No Affected                         5798
No Homeless                        12395
Total Affected                      3603
Reconstruction Costs ('000 US$)    14613
Insured Damages ('000 US$)         13550
Total Damages ('000 US$)            9781
CPI                                  315
Adm Level                           6789
Admin1 Code                        10063
Admin2 Code                        10679
Geo Locations                       6789
dtype: int64

In [17]:
df['Geo Locations'].value_counts()

Geo Locations
Administrative unit not available (Adm1).                                                                                                                                                                                           93
Administrative unit not available (Adm2).                                                                                                                                                                                           62
Taiwan Sheng (Adm1).                                                                                                                                                                                                                56
Dolnoslaskie, Kujawsko-Pomorskie, Lodzkie, Lubeiskie, Lubuskie, Malopolske, Mazowieckie, Opolskie, Podkarpackie, Podlaskie, Pomorskie, Slaskie, Swietokrzyskie, Warminsko-Mazurskie, Wielkopolskie, Zachodnio-Pomorskie (Adm1).     17
Region de Bruxelles-Capitale / Brussels Hoofdstedelijk Gewes, Region wallonne, Vlaams Gewest (Adm1).                                                                                                                                16
                                                                                                                                                                                                                                    ..
Bebedjia, Doba, Erde-pala, Gore, Koumra, Ndjamena, Sarh (Adm2).                                                                                                                                                                      1
Hassakeh (Adm1).                                                                                                                                                                                                                     1
Manzini (Adm1). Lugongolweni, Mbabane, Mbangweni, Pigg's Peak (Adm2).                                                                                                                                                                1
Kosice, Presov (Adm1).                                                                                                                                                                                                               1
Jablanicki, Kosovski, Kosovsko-mitrovatski, Kosovsko-pomoravski, Nisavski, Pirotski, Toplicki (Adm1).                                                                                                                                1
Name: count, Length: 6355, dtype: int64

In [14]:
print(df2.columns)
print(df.columns)

Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')
Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [6]:
print(df.columns)
print(df2.columns)

Index(['Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Insured Damages ('000 US$)',
       'Total Damages ('000 US$)', 'CPI', 'Adm Level', 'Admin1 Code',
       'Admin2 Code', 'Geo Locations'],
      dtype='object')
Index(['Dis No', 'Year', 'Seq', 'Glide', 'Disaster Group', 'Disaster Subgroup',
       'Disaster Type', 'Disaster Subtype', 'Disaster Subsubtype',
       'Event Name', 'Country', 'ISO', 'Region', 'Continent', 'Location',
       'Origin', 'Associated Dis', 'Associated Dis2', 'OFDA Response',
       'Appeal', 'Declaration', 'Aid Contribution', 'Dis Mag Value',
       'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time', 'River Basin',
       'Start Year', 'Start Month', 'Start Day', 'End Year', 'End Month',
       'End Day', 'Total Deaths', 'No Injured', 'No Affected', 'No Homeless',
       'Total Affected', 'Reconstruction Costs ('000 US$)',
       'Insured Damages ('000 US$)', 'Total Damages ('000 US$)', 'CPI',
       'Adm Level', 'Admin1 Code', 'Admin2 Code', 'Geo Locations'],
      dtype='object')

In [9]:
print(len(df.columns))
print(len(df2.columns))

45
47

In [10]:
df['Disaster Group'].unique()

array(['Natural'], dtype=object)

In [14]:
df['Insured Damages (\'000 US$)'].value_counts()

Insured Damages ('000 US$)
200000.0     60
30000.0      32
62500.0      30
800000.0     29
100000.0     29
             ..
241000.0      1
4700000.0     1
102200.0      1
400.0         1
7500000.0     1
Name: count, Length: 362, dtype: int64

In [16]:
print(len(df))
print(len(df2))

16126
14644